.sprites {background:url('image/sprites.png');}

h1 { font-size: 1.5em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

pre { 
    background: #eee; 
    border: 1px dashed #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

#content {
    background: #fff;
    color: #000;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin: auto;
    border-left: #aaa 1px solid;
    border-right: #aaa 1px solid;
}

div.hideit {
    visibility: hidden;
}

#header, #footer{
    width: 800px;
    margin: auto;
    color: white;
}

#footer {
    text-align: center;
    font-size: 0.8em;
}

#footer p {
    margin: 0;
    font-style: italic;
}

#footer a {
    color: white;
    font-style: normal;
}

#footer a:hover {
    color: #bbb;
}

#backheader {
    height: 90px;
    background-image:url('image/header_back.png');
}

#backfooter {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url('image/header_back.png');
    margin-bottom: -20px;
}

#logo{
    float:left;
    width: 250px;
    height: 90px;
    background-position: 0px 0px;
}

#logo  a{
    display: block;
    width: 250px;
    height: 90px;
}

#menu{
    width: 800px;
    margin: auto;
}
#backmenu{
    height: 30px;
    background-image:url('image/menu_back.png');
}

div#lang {
    float: right;
}

div#lang #selected-lang{
    visibility: hidden;
    margin-left: -1em; /* avoid having a gap between two visible languages */
}

.drapeau{
    float: right;
    margin-left: 5px;
    color: white;
    text-decoration: none;
}

a.drapeau:hover {
    color: #aaa;
}

body,ul.dropdown {
    padding: 0px;
    margin: 0px;
}

div#donate_button{
    margin: 20px 0px 20px 0px;
}

div#donate_button a{
    display: block;
    text-decoration: none;
    width: 216px;
    height: 86px;
    font-size: 30px;
    color: white;
    line-height: 86px;
    text-align: center;
    font-weight: bold;
    background: url('image/donate_button.png');
    margin-top: 10px;
}

div#donate_button a:hover{
    background-position: 0 -86px;
    text-shadow: 0 0 5px #ddd;
}

.whatis, .download, #donate_button, div#donate_button {
    position: relative;
    width: 49%;
    float:left;
}

div.download {
    width: 320px;
    height: 110px;
    background-position: 0px -90px;
    margin-top: 20px;
    clear: left;
}

div.download:hover{
    background-position: 0px -200px;
    text-shadow: 0 0 5px #ddd;
}

.download a {
    display: block;
    text-decoration: none;
    width: 320px;
    height: 110px;
}

.download a span#software, .download a span#action, .download a span#version {
    position: relative;
    display: block;
    left: 115px;
    color: white;
}

.download a span#software {
    width: 8ex;
    font-size: 30px;
    padding-top: 10px;
}

.download a span#action {
    width: 9ex;
    font-size: 20px;
    margin-top: -2px;
}

.download a span#version {
    width: 26ex;
    font-size: 12px;
    margin-top: 4px;
}

p {
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
}

div#news{
    padding-top: 20px;
    padding-left: 2%;
}

#people h5 {
    margin-bottom:-1em;
}

#papers img {
    float: left;
    clear: left;
    margin-right: 5px;
    margin-bottom: 1em;
}

#papers hr {
    clear: left;
}

#sponsors li {
    margin-bottom: 1em; 
}

a img { border:none; }

ul.default{
    font-size: 11pt;
}
/**
 * Horizontal CSS Drop-Down Menu Module
 *
 * @file		dropdown.css
 * @package		Dropdown
 * @version		0.7.1
 * @type		Transitional
 * @stacks		597-599
 * @browsers	Windows: IE6+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2006-2008 Live Web Institute. All Rights Reserved.
 *
 *
 * Licensed under the GPL
 *
 */

ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.dropdown {
    position: relative;
    z-index: 597;
    float: left;
}

ul.dropdown li {
    float: left;
    line-height: 1.3em;
    vertical-align: middle;
}

ul.dropdown li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}

ul.dropdown ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%;
}

ul.dropdown ul li {
    float: none;
}

ul.dropdown ul ul {
    top: 1px;
    left: 99%;
}

ul.dropdown li:hover > ul {
    visibility: visible;
}


ul.dropdown li.rtl ul {
    top: 100%;
    right: 0;
    left: auto;
}

ul.dropdown li.rtl ul ul {
    top: 1px;
    right: 99%;
    left: auto;
}

/** 
 * Default CSS Drop-Down Menu Theme
 *
 * @file		default.css
 * @name		Default
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE5+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute. All Rights Reserved.
 *
 * Module Classes: *.dir {} *.on {} *.open {} li.hover {} li.first {} li.last {}
 * Expected directory tag - li
 *
 * Licensed under GPL
 *
 */


/*-------------------------------------------------/
 * @section		Base Drop-Down Styling
 * @structure	ul (unordered list)
 *				ul li (list item)
 *				ul li a (links)
 *				/*\.class|(li|a):hover/
 * @level sep	ul
 */


ul.dropdown {
    font-family: Arial, Helvetica, sans-serif;
}

ul.dropdown li.dir, ul.dropdown li.simple, ul.dropdown a{
    text-align: center;
    display: block;
    height: 30px;
    width: 18ex;
    max-width: 133px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

ul.dropdown a{
    padding-top: 0px;
    line-height:30px;
}

ul.dropdown li.simple a:hover, ul.dropdown li.dir a:hover{
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

ul.dropdown li.dir ul li a:hover{
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
}

ul.dropdown li.dir ul li{
    background-color: #adafa2;
    height: 30px;
    width: 18ex;
    max-width: 133px;
    font-size: 1em;
    color: #fff;
}

ul.dropdown li.last,
ul.dropdown li.last a{
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

ul.dropdown li.dir ul li a{
    text-align: center;
    width: 18ex;
    max-width: 133px;
    height: 30px;
    line-height:30px;
}

ul.dropdown li:hover {    
    background:#4f4f46;
    color: #fff;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

ul.dropdown li.simple,
ul.dropdown li.simple a{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


ul.dropdown a:link,
ul.dropdown a:visited	{ color: #eee; text-decoration: none; }
ul.dropdown a:hover {
    background:#4f4f46;
    color: #fff;
}
ul.dropdown a:active	{ 
    color: white; 
}

/* iCarousel */

#screenshots_container {
    right:15px;
    float:right;
    width: 48%;
    height: 350px;
}

#screenshots {  
    position: relative; /* important */
    overflow: hidden; /* important */  
    width: 405px; /* important */  
    height: 350px; /* important */  
}  
  
#screenshots_frame {position: relative}  
#screenshots_previous {float: left;}  
#screenshots_next {float: right;}  
#screenshots_content {  
    position: absolute;  
    top: 0;  
    margin-left: 20px;
}  
  
#screenshots_content  
#screenshots_content li {  
    list-style: none;  
    margin: 0;  
    padding: 0;  
}  

#screenshots_content {  
    width: 5418px;
}  

#screenshots ul li {  
    display: block;  
    float: left;  
    margin: 5px;  
    padding: 5px;  
    border: 1px solid #666;  
    background-color: #fff;  
}  
   
#screenshots ul li img {  
    display: block;  
}  
      